{% extends "base/dashboard_base.html" %}
{% load static %}

{% block page_title %}Employee Dashboard{% endblock %}

{% block content %}

<h1 class="text-3xl font-bold mb-6">
    Employee Dashboard
</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-6">

    <div class="bg-white rounded-xl shadow p-6">
        <p>Users</p>
        <h2 id="statUsersCount">--</h2>
    </div>

    <div class="bg-white rounded-xl shadow p-6">
        <p>Admins</p>
        <h2 id="statAdminsCount">--</h2>
    </div>

    <div class="bg-white rounded-xl shadow p-6">
        <p>Managers</p>
        <h2 id="statManagersCount">--</h2>
    </div>

    <div class="bg-white rounded-xl shadow p-6">
        <p>Employees</p>
        <h2 id="statEmployeesCount">--</h2>
    </div>

</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/dashboard/employee.js' %}"></script>
{% endblock %}