{% extends "base/base.html" %}
{% load static %}

{% block page_title %}Dashboard{% endblock %}

{% block body %}

<div class="flex h-screen overflow-hidden bg-gray-50">

    {% include "base/navbar.html" %}

    {% include "base/sidebar.html" %}

    <!-- Main content -->
    <main class="flex-1 pt-16 lg:ml-64 overflow-y-auto flex flex-col">

        <div class="flex-1 p-4">
            {% block content %}
            {% endblock %}
        </div>

        {% include "base/footer.html" %}
    </main>

</div>

{% endblock %}

{% block extra_js %}


<script src="{% static 'js/core/config.js' %}"></script>
<script src="{% static 'js/core/storage.js' %}"></script>
<script src="{% static 'js/core/auth.js' %}"></script>
<script src="{% static 'js/core/api.js' %}"></script>
<script src="{% static 'js/core/alerts.js' %}"></script>
<script src="{% static 'js/core/guard.js' %}"></script>

<script src="{% static 'js/services/auth.service.js' %}"></script>
<script src="{% static 'js/services/user.service.js' %}"></script>
<script src="{% static 'js/services/dashboard.service.js' %}"></script>

<script src="{% static 'js/dashboard/dashboard_base.js' %}"></script>


{% endblock %}